.hidden {
  display: none;
}

.navbar-brand {
  font-size: 1.7em;
  color: #f4a950;
}

.nav-item {
  font-size: 1em;
  transition-property: border-width 0.3s;
}

.active {
  border-bottom: 1px solid white;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-property: border-width;
}
