.container {
  margin-top: 50px;
}

.grocery-main-container {
  margin-top: 50px;
}

.card-img-top {
  height: 200px;
}

.card {
  margin-top: 20px;
  background: transparent;
  border: none;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.8);
  align-content: space-between;
}

.btn {
  width: 100%;
}

.btn-outline-success {
  color: #28e68d;
  border-color: #28e68d;
}
