<div class="container">
    <h3><i class="fa fa-user" aria-hidden="true"></i> Sign-Up Form</h3>
    <div class="row">
        <form class="row g-3 col-md-6">
            <div class="col-md-12">
                <label for="username" class="form-label">Username</label>
                <input placeholder="Username" type="text" class="form-control" id="username" name="username" [(ngModel)]="registerUser.username" required>     
            </div>
            <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input placeholder="Email" type="email" class="form-control" id="email" [(ngModel)]="registerUser.email" name="email" required>
            </div>
            <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input placeholder="Password" type="password" class="form-control" id="password" [(ngModel)]="registerUser.password" name="password" required>
            </div>
            <div class="col-md-12">
                <label for="phone" class="form-label">Phone</label>
                <input placeholder="Phone" type="tel" pattern="[0-9]{10}" class="form-control" id="phone" [(ngModel)]="registerUser.phone" name="phone" required>
            </div>
            <div class="col-md-12">
                <button (click)="postUser()" routerLink='/grocery' type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
        <div class="col-md-6">
            <img src="https://wallpaperaccess.com/full/184531.jpg" alt="...">  
        </div>
    </div>
</div>