<div class="container">
    <h3><i class="fa fa-sign-in" aria-hidden="true"></i> Log-in Form</h3>
    <div class="row">
        <form class="row g-3 col-md-6" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input placeholder="Email" type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" name="email" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                </div>
            </div>
            

            <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input placeholder="Password" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" name="password" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                    <div *ngIf="f.password.errors.maxlength">Password must not exceed 15 characters</div>
                </div>
            </div>
            

            <div class="col-md-12" style="margin-top: 0;"><input type="checkbox" onclick="showPassword()"> Show Password</div>
            <div class="col-md-12" >
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="col-md-12">
                Create New Account ? <a routerLink='/register' style="text-decoration: none;">SIGN UP</a>
            </div>
        </form>
        <div class="col-md-6">
            <img src="https://i.ytimg.com/vi/vbajzMts9zE/maxresdefault.jpg" alt="...">  
        </div>
    </div>
</div>